import type { NextConfig } from 'next';

const nextConfig: NextConfig = {
  async rewrites() {
    const gatewayURL = process.env.NEXT_PUBLIC_GATEWAY_URL ?? 'http://localhost:7320';
    return [
      {
        source: '/api/:path*',
        destination: `${gatewayURL}/api/:path*`,
      },
    ];
  },
  reactStrictMode: true,
};

export default nextConfig;
